# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# packages
packages/core/dist


# parcel cache
.parcel-cache
functions/src/services/documents/dev-preview/dist

# firebase 
.firebase

# app
apps/store/dist

# functions folder
functions/lib

node_modules
_secrets
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Sentry Config File
.env.sentry-build-plugin

*storybook.log

# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules
