html body,
#root {
  min-height: 100dvh;
}

@theme {
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility shadow-card {
  box-shadow: var(--shadow-card);
}

@utility shadow-card-hover {
  box-shadow: var(--shadow-card-hover);
}
