@import "tailwindcss";

#hero::before {
	--size: 40px;
	--line: black;
	content: "";
	height: 100vh;
	width: 100vw;
	position: absolute;
	background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 0 0 / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0 0 / var(--size) var(--size);
	mask: linear-gradient(-20deg, transparent 50%, white);
	top: 0;
	left: 0;
	transform-style: flat;
	pointer-events: none;
	z-index: -1;
}
