@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.product-bg {
		clip-path: circle(40% at 80% 20%);
		transition: 0.5s ease-in-out;
	}
	.product-bg_hover {
		clip-path: circle(100% at 80% -50%);
	}
}

@layer components {
	.page-with-header {
		height: calc(100vh - 64px);
	}

	.ellipsis {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

/* ::view-transition-image-pair(root) {
	isolation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
	display: block;
} */

::view-transition-old(root),
::view-transition-new(root) {
	/* animation-duration: 1s; */
}

img {
	contain: paint;
	animation: none;
	mix-blend-mode: normal;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(30px);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-30px);
	}
}

::view-transition-old(root) {
}

::view-transition-new(root) {
}
